In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np
import computeCost as cc
import gradientDescent as gd

## ================ Part 1: Feature Normalization ================

In [2]:
csv_data  = pd.read_csv('./ex1data2.txt', names=['size', 'bedrooms', 'price'])

In [3]:
csv_data.head(10)

   size  bedrooms   price
0  2104         3  399900
1  1600         3  329900
2  2400         3  369000
3  1416         2  232000
4  3000         4  539900
5  1985         4  299900
6  1534         3  314900
7  1427         3  198999
8  1380         3  212000
9  1494         3  242500

In [4]:
csv_data.shape

(47, 3)

In [5]:
csv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 3 columns):
size        47 non-null int64
bedrooms    47 non-null int64
price       47 non-null int64
dtypes: int64(3)
memory usage: 1.2 KB

In [6]:
m = csv_data.shape[0]

In [31]:
ones = np.ones((m, 1))
x = csv_data.values[:, 0:2]
y = csv_data.values[:, 2:4]
X = np.concatenate((ones, x), axis=1)
theta = np.zeros((3, 1))

In [32]:
iterations = 1000
alpha = 0.01

In [33]:
J = cc.compute_cost(X, y, theta)
print('With theta = [0; 0; 0]\nCost computed = %f' % J)

With theta = [0; 0; 0]
Cost computed = 65591548106.457443